.d-sm-block.d-none    
    #carousel.documents-carousel.js-documents-carousel
        .carousel-feature.fhoto-content
            a.js-fhoto-modal(href='#')
                img.carousel-image.fhoto-content-item(alt='Image Caption', src='img/documents/doc1.jpg')


        .carousel-feature
            a(href='#')
                img.carousel-image(alt='Image Caption', src='img/documents/doc1.jpg')


        .carousel-feature
            a(href='#')
                img.carousel-image(alt='Image Caption', src='img/documents/doc1.jpg')


        .carousel-feature
            a(href='#')
                img.carousel-image(alt='Image Caption', src='img/documents/doc1.jpg')


        .carousel-feature
            a(href='#')
                img.carousel-image(alt='Image Caption', src='img/documents/doc1.jpg')
                  
    .documents__block-btn-left                 
    .documents__block-btn-right 