.js-four-slider.swiper-container.d-block.d-sm-none
    .swiper-wrapper.mb-30
        .swiper-slide.fhoto-content
            a.js-fhoto-modal(href='#')
                img.carousel-image.fhoto-content-item(alt='Image Caption', src='img/documents/doc1.jpg')


        .swiper-slide.fhoto-content
            a.js-fhoto-modal(href='#')
                img.carousel-image.fhoto-content-item(alt='Image Caption', src='img/documents/doc1.jpg')

        .swiper-slide.fhoto-content
            a.js-fhoto-modal(href='#')
                img.carousel-image.fhoto-content-item(alt='Image Caption', src='img/documents/doc1.jpg')


        .swiper-slide.fhoto-content
            a.js-fhoto-modal(href='#')
                img.carousel-image.fhoto-content-item(alt='Image Caption', src='img/documents/doc1.jpg')


        .swiper-slide.fhoto-content
            a.js-fhoto-modal(href='#')
                img.carousel-image.fhoto-content-item(alt='Image Caption', src='img/documents/doc1.jpg')


        .swiper-slide.fhoto-content
            a.js-fhoto-modal(href='#')
                img.carousel-image.fhoto-content-item(alt='Image Caption', src='img/documents/doc1.jpg')


    .swiper-button
        .swiper-news-button-next
            +icon('right-arrow-red','swiper-btn-icon')
        .swiper-news-button-prev
            +icon('left-arrow-red','swiper-btn-icon')

    .swiper-pagination





