.modals-container.hidden.js-show-search

    table.modal-container_i
        tr 
            td
                .box-modal.posr
                    .modals__search.color-theme-red.mt-50.mt-sm-15
                        .modals__search-wrapper
                          .modal-close.js-btn-close-modal 
                            svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 35.121 35.121")
                                  defs
                                    style.
                                      .cls-1 {
                                      fill: none;
                                      stroke: #fff;
                                      stroke-width: 3px;
                                      }
                                  |   
                                  g#Group_248(data-name="Group 248", transform="translate(-1222.939 -68.939)")
                                    line#Line_72.cls-1(data-name="Line 72", x1="33", y2="33", transform="translate(1224 70)")
                                    |     
                                    line#Line_73.cls-1(data-name="Line 73", x1="33", y1="33", transform="translate(1224 70)")  

                          form.text-center
                            .form-check-wrap.d-lg-inline-block.text-center.mb-sm-75.mb-25
                              a(href="#").form-check
                                input#city_reg.form-check-input(type="radio", name="check-tag", value="1")
                                label.form-check-label(for="city_reg") РЕГИОНЫ И ГОРОДА

                              a(href="#").form-check
                                input#doer.form-check-input(type="radio", name="check-tag", value="2")
                                label.form-check-label(for="doer") ИСПОЛНИТЕЛИ

                              a(href="#").form-check
                                input#area.form-check-input(type="radio", name="check-tag", value="3")
                                label.form-check-label(for="area") ПЛОЩАДКИ


                            .input-search-rezult-wrap
                                input.form-control.js-btn-form-search-rezult( type="search" placeholder="ВВЕДИТЕ ТЕГ")
                                button.search-btn-submit(type="submit" title="Начать поиск")

                          .search__rezult
                            .tag_rezult
                              p.fz-16.color-white.mb-25 ПОПУЛЯРНЫЕ ТЕГИ
            

                              a(href="#").tag__rezult-item
                                span # 
                                span егор крид
                              a(href="#").tag__rezult-item
                                span # 
                                span сергей лазарев 
                              a(href="#").tag__rezult-item
                                span # 
                                span любэ
                              a(href="#").tag__rezult-item
                                span # 
                                span тимати
                              a(href="#").tag__rezult-item
                                span # 
                                span би2
                              a(href="#").tag__rezult-item
                                span # 
                                span ночные снайперы
                              a(href="#").tag__rezult-item
                                span # 
                                span сергей пенкин
                              a(href="#").tag__rezult-item
                                span # 
                                span ночные снайперы
                              a(href="#").tag__rezult-item
                                span # 
                                span сергей лазарев  
                              a(href="#").tag__rezult-item
                                span # 
                                span егор крид
                              a(href="#").tag__rezult-item
                                span # 
                                span сергей лазарев 
                              a(href="#").tag__rezult-item
                                span # 
                                span любэ
                              a(href="#").tag__rezult-item
                                span # 
                                span тимати
                              a(href="#").tag__rezult-item
                                span # 
                                span би2
                              a(href="#").tag__rezult-item
                                span # 
                                span ночные снайперы
                              a(href="#").tag__rezult-item
                                span # 
                                span сергей пенкин
                              a(href="#").tag__rezult-item
                                span # 
                                span ночные снайперы
                              a(href="#").tag__rezult-item
                                span # 
                                span сергей лазарев

                              a(href="#").tag__rezult-item
                                span # 
                                span егор крид
                              a(href="#").tag__rezult-item
                                span # 
                                span сергей лазарев 
                              a(href="#").tag__rezult-item
                                span # 
                                span любэ
                              a(href="#").tag__rezult-item
                                span # 
                                span тимати
                              a(href="#").tag__rezult-item
                                span # 
                                span би2
                              a(href="#").tag__rezult-item
                                span # 
                                span ночные снайперы
                              a(href="#").tag__rezult-item
                                span # 
                                span сергей пенкин
                              a(href="#").tag__rezult-item
                                span # 
                                span ночные снайперы
                              a(href="#").tag__rezult-item
                                span # 
                                span сергей лазарев  

                            
                            .js-content-rezult.content_rezult.projects__block.swiper-container.hidden
                              p.fz-16.color-white.mb-25 РЕЗУЛЬТАТЫ ПОИСКА                          
                              .swiper-wrapper
                                  +projectsBlock('pl1') 

                                  +projectsBlock('pl2') 

                                  +projectsBlock('pl3') 

                                  +projectsBlock('pl4') 
                                  +projectsBlock('pl1') 

                                  +projectsBlock('pl2') 

                                  +projectsBlock('pl3') 

                                  +projectsBlock('pl4') 
                              .swiper-button
                                  .swiper-news-button-next
                                      +icon('right-arrow-red','swiper-btn-icon')
                                  .swiper-news-button-prev
                                      +icon('left-arrow-red','swiper-btn-icon')

                              .swiper-pagination





















