

.modals-container.hidden.js-show-callback

    table.modal-container_i
        tr 
            td
                .box-modal.posr
                    .modal-close.js-btn-close-modal 
                        svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 35.121 35.121")
                              defs
                                style.
                                  .cls-1 {
                                  fill: none;
                                  stroke: #fff;
                                  stroke-width: 3px;
                                  }
                              |   
                              g#Group_248(data-name="Group 248", transform="translate(-1222.939 -68.939)")
                                line#Line_72.cls-1(data-name="Line 72", x1="33", y2="33", transform="translate(1224 70)")
                                |     
                                line#Line_73.cls-1(data-name="Line 73", x1="33", y1="33", transform="translate(1224 70)")
    
                    .modals__callback 
                        .modals__callback-wrapper
                            h2.display-4.text-center.mb-5 Обратный звонок
                            p.fz-14.color-dark-red.text-center.mb-30 Мы работаем с ПН по ПТ, с 10:00 до 19:00

                            form.js-form-validate.services-form(action="" validate)
                                .form-group
                                    .row
                                        .col-12.mb-15
                                            label.small(for='c_nic') Ваше имя
                                            input#c_nic.form-control(type='text' name="nic" placeholder="Ваше имя")


                                        .col-12.mb-15
                                            label.small(for='c_tel') Номер телефона
                                            input#c_tel.form-control.js-mask(type='tel' name="phone" placeholder="+7 (---) --- -- --")

                                .text-center
                                    button.btn.btn-bg.js-form-send.w255(type='submit' disabled="disabled") ПОЗВОНИТЬ МНЕ
