.projects__last
    .js-projects-slider.swiper-container.container
        .swiper-wrapper
            +projectsBlock('pl21') 

            +projectsBlock('pl22') 

            +projectsBlock('pl23') 

            +projectsBlock('pl24') 
            +projectsBlock('pl21') 

            +projectsBlock('pl22') 

            +projectsBlock('pl23') 

            +projectsBlock('pl24')             

        .swiper-button
            .swiper-news-button-next
                +icon('right-arrow-red','swiper-btn-icon')
            .swiper-news-button-prev
                +icon('left-arrow-red','swiper-btn-icon')

        .swiper-pagination