.projects__last
    .js-projects-slider.swiper-container.container
        .swiper-wrapper
            +projectsBlock('pl13') 

            +projectsBlock('pl14') 

            +projectsBlock('pl15') 

            +projectsBlock('pl16') 
            +projectsBlock('pl13') 

            +projectsBlock('pl14') 

            +projectsBlock('pl15') 

            +projectsBlock('pl16') 
        .swiper-button
            .swiper-news-button-next
                +icon('right-arrow-red','swiper-btn-icon')
            .swiper-news-button-prev
                +icon('left-arrow-red','swiper-btn-icon')

        .swiper-pagination