.projects__last
    .js-projects-slider.swiper-container.container
        .swiper-wrapper
            +projectsBlock('pl17') 

            +projectsBlock('pl18') 

            +projectsBlock('pl19') 

            +projectsBlock('pl20') 
            +projectsBlock('pl17') 

            +projectsBlock('pl18') 

            +projectsBlock('pl19') 

            +projectsBlock('pl20') 
        .swiper-button
            .swiper-news-button-next
                +icon('right-arrow-red','swiper-btn-icon')
            .swiper-news-button-prev
                +icon('left-arrow-red','swiper-btn-icon')

        .swiper-pagination