.projects__last
    .js-projects-slider.swiper-container.container
        .swiper-wrapper
            +projectsBlock('pl25') 

            +projectsBlock('pl26') 

            +projectsBlock('pl27') 

            +projectsBlock('pl28') 
            +projectsBlock('pl25') 

            +projectsBlock('pl26') 

            +projectsBlock('pl27') 

            +projectsBlock('pl28')
        .swiper-button
            .swiper-news-button-next
                +icon('right-arrow-red','swiper-btn-icon')
            .swiper-news-button-prev
                +icon('left-arrow-red','swiper-btn-icon')

        .swiper-pagination