.projects__last
    .js-projects-slider.swiper-container.container
        .swiper-wrapper
            .swiper-slide
                +projectsTourBlock('pl1') 
            .swiper-slide
                +projectsTourBlock('pl2') 
            .swiper-slide
                +projectsTourBlock('pl3') 
            .swiper-slide
                +projectsTourBlock('pl4')
            .swiper-slide                 
                +projectsTourBlock('pl1') 
            .swiper-slide
                +projectsTourBlock('pl2') 
            .swiper-slide
                +projectsTourBlock('pl3') 
            .swiper-slide
                +projectsTourBlock('pl4') 
        .swiper-button
            .swiper-news-button-next
                +icon('right-arrow-red','swiper-btn-icon')
            .swiper-news-button-prev
                +icon('left-arrow-red','swiper-btn-icon')

        .swiper-pagination