.projects__last
    .js-projects-slider.swiper-container.container
        .swiper-wrapper
            +projectsBlock('pl1') 

            +projectsBlock('pl2') 

            +projectsBlock('pl3') 

            +projectsBlock('pl4') 
            +projectsBlock('pl1') 

            +projectsBlock('pl2') 

            +projectsBlock('pl3') 

            +projectsBlock('pl4') 
        .swiper-button
            .swiper-news-button-next
                +icon('right-arrow-red','swiper-btn-icon')
            .swiper-news-button-prev
                +icon('left-arrow-red','swiper-btn-icon')

        .swiper-pagination