.projects__last
    .js-projects-slider.swiper-container.container
        .swiper-wrapper
            +projectsBlock('pl5') 

            +projectsBlock('pl6') 

            +projectsBlock('pl7') 

            +projectsBlock('pl8') 
            +projectsBlock('pl5') 

            +projectsBlock('pl6') 

            +projectsBlock('pl7') 

            +projectsBlock('pl8') 
        .swiper-button
            .swiper-news-button-next
                +icon('right-arrow-red','swiper-btn-icon')
            .swiper-news-button-prev
                +icon('left-arrow-red','swiper-btn-icon')

        .swiper-pagination