.promo__home.promo-grid
    .js-promo-home-slider.swiper-container
        .swiper-wrapper           
            .swiper-slide
                +homePromoGridEl('p1')
            .swiper-slide
                +homePromoGridEl('p2')
            .swiper-slide
                +homePromoGridEl('p3')
            .swiper-slide
                +homePromoGridEl('p4')
            .swiper-slide
                +homePromoGridEl('p5')
            .swiper-slide
                +homePromoGridEl('p6')
            .swiper-slide
                +homePromoGridEl('p7')
            .swiper-slide
                +homePromoGridEl('p8')
            .swiper-slide
                +homePromoGridEl('p9')
            .swiper-slide
                +homePromoGridEl('p10')
            .swiper-slide
                +homePromoGridEl('p11')
            .swiper-slide                
                .promo-grid-item               
                    figure.promo-item.bgc-gray
                        .promo-item-plug.dt                               
                            .dtc
                                a.link-white(href='#') Все проекты
                                    i.arrow-right
        .swiper-button
            .swiper-news-button-next
                +icon('right-arrow-red','swiper-btn-icon')
            .swiper-news-button-prev
                +icon('left-arrow-red','swiper-btn-icon')

        .swiper-scrollbar