.overlay-success
.js-show-modal-success.modals-container.hidden
    table.modal-container_i
        tr 
            td
                .box-modal.posr
                    .modal-close.js-btn-close-modal.close-success 
                        svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 35.121 35.121")
                              defs
                                style.
                                  .cls-1 {
                                  fill: none;
                                  stroke: #fff;
                                  stroke-width: 3px;
                                  }
                              |   
                              g#Group_248(data-name="Group 248", transform="translate(-1222.939 -68.939)")
                                line#Line_72.cls-1(data-name="Line 72", x1="33", y2="33", transform="translate(1224 70)")
                                |     
                                line#Line_73.cls-1(data-name="Line 73", x1="33", y1="33", transform="translate(1224 70)")
    
                    .modals__callback 
                        .modals__callback-wrapper
                            h2.display-4.text-center.mb-5 Большое спасибо за запрос!
                            p.fz-14.color-dark-red.text-center.mb-30 Наши менеджеры свяжутся с Вами 
                            p.fz-14.color-dark-red.text-center.mb-30 Мы работаем с ПН по ПТ, с 10:00 до 19:00






