include mixin/_mixins
doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title ZavodShow - всё для шоу
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:image', content='path/to/image.jpg')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/favicon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")

    // Chrome, Firefox OS and Opera
    meta(name='theme-color', content='#000')
    // Windows Phone
    meta(name='msapplication-navbutton-color', content='#000')
    // iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')
    // IE 8
    //if lt IE 8
      p.browserupgrade
        | You are using an 
        strong outdated 
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.

    link(rel='stylesheet', href='css/swiper.min.css')              
    link(rel='stylesheet', href='css/main.css') 

    //- link(rel='stylesheet', href='css/reset.css') 
   
  body.color-theme-red
    include templates/header.jade
    .repeat-grid
    main.content
        section.no-page.text-center.absolut-center
            
            h1.text-center.display-1.color-dark-red 404
            p.text-center.fz-24.mb-10 На этой странице ничего нет
            a.text-center.btn.btn-bg.w255.mb-40.mt-20(href="/") НА ГЛАВНУЮ 


    .container
        .border-b

            
    include templates/modals-callback.jade
    include templates/footer.jade


    include scripts.jade
