include mixin/_mixins


doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title ZavodShow - всё для шоу
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:image', content='path/to/image.jpg')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/favicon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")

    // Chrome, Firefox OS and Opera
    meta(name='theme-color', content='#000')
    // Windows Phone
    meta(name='msapplication-navbutton-color', content='#000')
    // iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')
    // IE 8
    //if lt IE 8
      p.browserupgrade
        | You are using an 
        strong outdated 
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.


    link(rel='stylesheet', href='css/animate.css') 
    link(rel='stylesheet', href='sprite/sprite.css') 
    link(rel='stylesheet', href='css/swiper.min.css')              
    link(rel='stylesheet', href='css/main.css') 

    //- link(rel='stylesheet', href='css/reset.css') 
   
  body.color-theme-red
    include templates/header.jade

    main.content
        .promo__inner
            .promo__inner-wrap
                img.promo__inner-pic(src="img/equipments/bg-equipments-light.jpg", alt="")
            .promo__inner-c-block
                h1.promo__inner-title АРЕНДА СВЕТА И ПРОЕКАТ СВЕТОГО ОБОРУДОВАНИЯ
                strong.promo__inner-descr МЫ СДЕЛАЛИ 
                    span.color-theme 1492 
                    span ШОУ
                nav.text-center(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='#') Главная
                        li.breadcrumb-item.active(aria-current='page') Оборудование

        .repeat-grid.mb-65



        section.section.pb-70
                
            .js-equipments-slider.swiper-container.container
                .swiper-wrapper.mb-40.mb-sm-0
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld1.png", alt="")
                                p AVOLITES TITAN MOBILE
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld2.png", alt="")
                                p  ROXTON PL270
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld3.png", alt="")
                                p AVOLITES TITAN MOBILE
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld4.png", alt="")
                                p  ROXTON PL270
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld1.png", alt="")
                                p AVOLITES TITAN MOBILE
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld2.png", alt="")
                                p  ROXTON PL270
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld3.png", alt="")
                                p AVOLITES TITAN MOBILE
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld4.png", alt="")
                                p  ROXTON PL270
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld4.png", alt="")
                                p  ROXTON PL270
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld1.png", alt="")
                                p AVOLITES TITAN MOBILE
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld2.png", alt="")
                                p  ROXTON PL270
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld3.png", alt="")
                                p AVOLITES TITAN MOBILE
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld4.png", alt="")
                                p  ROXTON PL270
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld1.png", alt="")
                                p AVOLITES TITAN MOBILE
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld2.png", alt="")
                                p  ROXTON PL270
                    .swiper-slide
                        a(href="#").equipments__light__block-item.dt
                            .dtc.text-center
                                img(src="img/equipments/eqld3.png", alt="")
                                p AVOLITES TITAN MOBILE

                .swiper-button
                    .swiper-news-button-next
                        +icon('right-arrow-red','swiper-btn-icon')
                    .swiper-news-button-prev
                        +icon('left-arrow-red','swiper-btn-icon')

                .swiper-pagination


        section.section.pb-70.equipments__light_k_block.line-title-section

            .container
                h3.title.mb-55 КАТЕГОРИИ
                         
            .js-equipments-light-k-slider.swiper-container.container
                .swiper-wrapper.mb-30.mb-lg-0
                    .swiper-slide
                        +equipmentsBlockLight('Приборы со звуковой анимацией')
                    .swiper-slide
                        +equipmentsBlockLight('Прожектор следящего света')
                    .swiper-slide
                        +equipmentsBlockLight('Статические приборы')
                    .swiper-slide
                        +equipmentsBlockLight('Динамические приборы')
                    .swiper-slide
                        +equipmentsBlockLight('Световые диммера')
                    .swiper-slide
                        +equipmentsBlockLight('Архитектурное освещение')
                    .swiper-slide
                        +equipmentsBlockLight('Изготовление гобо')
                    .swiper-slide
                        +equipmentsBlockLight('Спецэффекты')
                    .swiper-slide
                        +equipmentsBlockLight('Пульты управления')
                    .swiper-slide
                        +equipmentsBlockLight('Аксессуары')
 

                .swiper-button
                    .swiper-news-button-next
                        +icon('right-arrow-red','swiper-btn-icon')
                    .swiper-news-button-prev
                        +icon('left-arrow-red','swiper-btn-icon')

                .swiper-pagination

                    
        .container
            .border-b
                
    include templates/modals-callback.jade
    include templates/footer.jade


    include scripts.jade