svg(width='19', height='12', xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/', viewbox='0 0 19 12')
  defs
  desc Generated with Avocode.
  g(transform='matrix(1,0,0,1,-1197,-2123)')
    g
      title 002-eye копия 4
      image(xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAMCAYAAACA0IaCAAABwElEQVQ4T52Tz04TcRDHP9NtVYzBRC4eqN2lf2QLGGOiXvTKTZ/AGxU98ALyADyBMQriySfQG1e8iIkehF3sFnfrctBDY8AElLo7Bt2tm2pJdI7fme93fjPz/Ql/Cdf3TY3kFug0iA2cBnZAXZAVMfSpbVlBP1WygOd5w91cYQFlFigkuT2ETyhngaEE6yIsFuLufLVa3U01emLuVjilGj0DzJQgcO/UceNBsVjc933/xF4kcwILmUYB5G7UK+fWDzk/xTaa/lXJyQownHZRYWaibD7ZCMMzchBfkgPjjW2PdhwvmEF4nJloV2OdnqhZL6XZbI99z+kaMJIpaNrl0ngzCM5HkbxIcjsixvXxsdF1d6u9CdQy9Z18LFfEbflrilzuW+ZSvWLOuq32Q0Xv9HLCcr1sNpxWsAjcznIEfXWkWD9JkEd2pXTXaQVLQOMPsaPG3Hy/PakarSbW6BiGXquZ5ruBYw46AEqjXjWXXXd7JD4WXYzyvL5QKn12vKCBcPiyNH4fIEWc1odJiJ9nraEwf9LQ+5ZlfQ3DcOjLt2iOX9bIJ7xAxLhpl4tve9ZIBQeYdh/h4z+ZNrvM//1OPwCQmNcz2jDBTwAAAABJRU5ErkJggg==', width='19', height='12', transform='matrix(1,0,0,1,1197,2123)')
