svg(width='7', height='9', xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/', viewbox='0 0 7 9')
  defs
  desc Generated with Avocode.
  g(transform='matrix(1,0,0,1,-543,-2018)')
    g
      title keyboard-right-arrow-button копия 7
      image(xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAJCAYAAAD+WDajAAAAX0lEQVQoU2OcufkMFys388b//xgWJLsYLmVAAowz958RYf3HvJ+BgUHr/3+GOGQFjCCF8w6dE2X4zbgPXQFYEpcCuCRYwZ5zWgyMjFcYGBj+sPz7q0JYJ0478boWnz8BIC5EUaqfa4sAAAAASUVORK5CYII=', width='7', height='9', transform='matrix(1,0,0,1,543,2018)')
