.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-chat {
	font-size:(14/10)*1rem;
	width:(15/14)*1em;
}
.icon-eye {
	font-size:(12/10)*1rem;
	width:(19/12)*1em;
}
.icon-go-link {
	font-size:(9/10)*1rem;
	width:(7/9)*1em;
}
.icon-go-link-f {
	font-size:(477.18/10)*1rem;
	width:(477.18/477.18)*1em;
}
